@charset "utf-8";

html {
	font-family: font-name, Yu Gothic;
	background: linear-gradient(to top, rgba(180, 175, 217, 0.7) 0%,
		rgba(151, 217, 225, 0.7) 100%), url(test_img.jpg);
	background-repeat: round;
}

h1 {
	color: #4f4fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff8040;
}	

p {
	display: flex;
	justify-content: center;
	align-items: center;
}