@charset "utf-8";

html {
	font-family: font-name, Yu Gothic;
	background: linear-gradient(to top, rgba(180, 175, 217, 0.7) 0%,
		rgba(151, 217, 225, 0.7) 100%), url(test_img.jpg);
	background-repeat: round;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4f4fff;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
}
@media (max-width:767px) {
    html{
        flex-direction: column;
    }
}